{% extends "base.html" %}
{% load staticfiles %}

{% block extrahead %}
<link rel="stylesheet" href="{% static "css/style.css" %}">
{% endblock %}

{% block content %}
<div id="container-temp">
  <h2>{{ object.scenario.complex }}</h2>
  <p>conditiemeting {{ object.datum }}</p>
  <p>{{ object.uitvoerder }}</p>

  <h3>Conditie overzicht</h3>

  {% for cgrp in object.conditiegroep_set.all %}
    <section class="cgrp">
      <h4>{{ cgrp }}</h4>
      <p>{{ cgrp.scenariogroep.complexgroep.beschrijving }}</p>
      <p>{{ cgrp.bevinding }}</p>
    <table class="table conditiegroep-table">
      <tr>
        <th>deel</th>
        <th>hvh</th>
        <th>eh</th>
        <th>conditie</th>
      </tr>
        {% for cdl in cgrp.conditiedeel_set.all %}
      <tr>
        <td>{{ cdl }}</td>
        <td>{{ cdl.deel.hvh }}</td>
        <td>{{ cdl.deel.get_eenheid }}</td>
        <td class="conditie conditie{{ cdl.conditiescore }}">
          <div class="vak vak0"></div>
          <div class="vak vak1"></div>
          <div class="vak vak2"></div>
          <div class="vak vak3"></div>
          <div class="vak vak4"></div>
          <div class="vak vak5"></div>
        </td>
      </tr>
        {% endfor %}
    </table>
    </section>
  {% endfor %}

  <h3>Conditie uitgelicht</h3>
    {% for cgrp in object.conditiegroep_set.all %}
      {% for cdl in cgrp.conditiedeel_set.all %}
        {% if cdl.conditiescore > 2 %}
          <div class="conditiedeel">
            <table class="table conditiedeel-table">
              <tr>
                <th class="conditie{{ cdl.conditiescore }}">
                  <div class="vak vak-enkel"></div>
                  <strong>{{ cdl.conditiegroep }} - {{ cdl }}</strong></th>
                <th>ernst</th>
                <th>intensiteit</th>
                <th>omvang</th>
              </tr>
            {% for g in cdl.gebrek_set.all %}
              <tr>
                <td class="gebrek">
                  {{ g }}
                </td>
                <td class="ernst ernst{{ g.nengebrek.gebrektype.ernst }}">
                  <div class="vak vak1"></div>
                  <div class="vak vak2"></div>
                  <div class="vak vak3"></div>
                </td>
                <td class="intensiteit intensiteit{{ g.intensiteit }}">
                  <div class="vak vak1"></div>
                  <div class="vak vak2"></div>
                  <div class="vak vak3"></div>
                </td>
                <td class="omvang omvang{{ g.omvang }}">
                  <div class="vak vak0"></div>
                  <div class="vak vak1"></div>
                  <div class="vak vak2"></div>
                  <div class="vak vak3"></div>
                  <div class="vak vak4"></div>
                </td>
              </tr>
            {% endfor %}
            </table>
            <div class="conditie-fotos">
              {% for f in cdl.conditiefoto_set.all|slice:":4" %}
                <img src="{{ f.foto_link }}">
              {% endfor %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}

</div>
{% endblock %}