{% extends "base.html" %}
{% load gebouw_extras %}

{% block extrahead %}

{% endblock %}

{% block content %}

<h1>Begroting en conditiemetingrapport {{ s.complex }}</h1>

<h2>Conditiemeting methodiek</h2>
<p class="plain">
De conditiemeting is uitgevoerd conform de NEN 2767 norm. Hiermee wordt op een zespuntsschaal de conditie van de
bouwkundige elementen vastgelegd. Onderstaande tabel geeft een overzicht van de verschillende conditiescores.
</p>
<table class="conditie-table index-table">
  <tr>
    <th class="vakjes">Conditie</th>
    <th>Kwalificatie</th>
    <th>Beschrijving</th>
    <th>Score</th>
  </tr>
  <tr>
    <td class="conditie conditie1">
      <div class="vak vak0"></div>
      <div class="vak vak1"></div>
      <div class="vak vak2"></div>
      <div class="vak vak3"></div>
      <div class="vak vak4"></div>
      <div class="vak vak5"></div>
    </td>
    <td>Zeer goed</td>
    <td>Vergelijkbaar met nieuwstaat.</td>
    <td>1</td>
  </tr>
  <tr>
    <td class="conditie conditie2">
      <div class="vak vak0"></div>
      <div class="vak vak1"></div>
      <div class="vak vak2"></div>
      <div class="vak vak3"></div>
      <div class="vak vak4"></div>
      <div class="vak vak5"></div>
    </td>
    <td>Goed</td>
    <td>Beperkte veroudering.</td>
    <td>2</td>
  </tr>
  <tr>
    <td class="conditie conditie3">
      <div class="vak vak0"></div>
      <div class="vak vak1"></div>
      <div class="vak vak2"></div>
      <div class="vak vak3"></div>
      <div class="vak vak4"></div>
      <div class="vak vak5"></div>
    </td>
    <td>Redelijk</td>
    <td>Beperkte schade of onderhoudsbehoefte.</td>
    <td>3</td>
  </tr>
  <tr>
    <td class="conditie conditie4">
      <div class="vak vak0"></div>
      <div class="vak vak1"></div>
      <div class="vak vak2"></div>
      <div class="vak vak3"></div>
      <div class="vak vak4"></div>
      <div class="vak vak5"></div>
    </td>
    <td>Matig</td>
    <td>Duidelijke schade en onderhoudsbehoefte.</td>
    <td>4</td>
  </tr>
  <tr>
    <td class="conditie conditie5">
      <div class="vak vak0"></div>
      <div class="vak vak1"></div>
      <div class="vak vak2"></div>
      <div class="vak vak3"></div>
      <div class="vak vak4"></div>
      <div class="vak vak5"></div>
    </td>
    <td>Slecht</td>
    <td>Grote schade en grote onderhoudsbehoefte.</td>
    <td>5</td>
  </tr>
  <tr>
    <td class="conditie conditie6">
      <div class="vak vak0"></div>
      <div class="vak vak1"></div>
      <div class="vak vak2"></div>
      <div class="vak vak3"></div>
      <div class="vak vak4"></div>
      <div class="vak vak5"></div>
    </td>
    <td>Zeer slecht</td>
    <td>Grote schade, vervangen is noodzakelijk.</td>
    <td>6</td>
  </tr>
</table>

<p class="plain">
De inspecteur hanteert een genormeerde tabel om voor ieder bouwkundig element de gebreken vast te leggen. Voor
  elk gebrek heeft hij de "ernst", "intensiteit" en "omvang" bepaald. Zie hiervoor ook onderstaande overzichten.
</p>

<table class="ernst-table index-table">
  <tr>
    <th class="vakjes">Ernst</th>
    <th>Kwalificatie</th>
    <th>Beschrijving</th>
  </tr>
  <tr>
    <td class="ernst ernst1">
      <div class="vak vak1"></div>
      <div class="vak vak2"></div>
      <div class="vak vak3"></div>
    </td>
    <td>Gering</td>
    <td>Veroudering, vervuiling en onderhoud.</td>
  </tr>
  <tr>
    <td class="ernst ernst2">
      <div class="vak vak1"></div>
      <div class="vak vak2"></div>
      <div class="vak vak3"></div>
    </td>
    <td>Serieus</td>
    <td>Constructief of werking, van secundair belang.</td>
  </tr>
  <tr>
    <td class="ernst ernst3">
      <div class="vak vak1"></div>
      <div class="vak vak2"></div>
      <div class="vak vak3"></div>
    </td>
    <td>Ernstig</td>
    <td>Constructief of werking, van primair belang.</td>
  </tr>
</table>

<table class="intensiteit-table index-table">
  <tr>
    <th class="vakjes">Intensiteit</th>
    <th>Kwalificatie</th>
    <th>Beschrijving</th>
  </tr>
  <tr>
    <td class="intensiteit intensiteit1">
      <div class="vak vak1"></div>
      <div class="vak vak2"></div>
      <div class="vak vak3"></div>
    </td>
    <td>Laag</td>
    <td>In beginstadium van gebrek-ontwikkeling.</td>
  </tr>
  <tr>
    <td class="intensiteit intensiteit2">
      <div class="vak vak1"></div>
      <div class="vak vak2"></div>
      <div class="vak vak3"></div>
    </td>
    <td>Midden</td>
    <td>Gebrek manifesteert zich duidelijk.</td>
  </tr>
  <tr>
    <td class="intensiteit intensiteit3">
      <div class="vak vak1"></div>
      <div class="vak vak2"></div>
      <div class="vak vak3"></div>
    </td>
    <td>Hoog</td>
    <td>Gebrekontwikkeling in eindstadium.</td>
  </tr>
</table>  

<table class="index-table omvang-table">
  <tr>
    <th class="vakjes">Omvang</th>
    <th>Kwalificatie</th>
  </tr>
  <tr>
    <td class="omvang omvang0">
      <div class="vak vak0"></div>
      <div class="vak vak1"></div>
      <div class="vak vak2"></div>
      <div class="vak vak3"></div>
      <div class="vak vak4"></div>
    </td>
    <td>
      < 2%
    </td>
  </tr>
  <tr>
    <td class="omvang omvang1">
      <div class="vak vak0"></div>
      <div class="vak vak1"></div>
      <div class="vak vak2"></div>
      <div class="vak vak3"></div>
      <div class="vak vak4"></div>
    </td>
    <td>
      2% tot 10%
    </td>
  </tr>
    <tr>
    <td class="omvang omvang2">
      <div class="vak vak0"></div>
      <div class="vak vak1"></div>
      <div class="vak vak2"></div>
      <div class="vak vak3"></div>
      <div class="vak vak4"></div>
    </td>
    <td>
      10% tot 30%
    </td>
  </tr>
    <tr>
    <td class="omvang omvang3">
      <div class="vak vak0"></div>
      <div class="vak vak1"></div>
      <div class="vak vak2"></div>
      <div class="vak vak3"></div>
      <div class="vak vak4"></div>
    </td>
    <td>
      30% tot 70%
    </td>
  </tr>
  <tr>
    <td class="omvang omvang4">
      <div class="vak vak0"></div>
      <div class="vak vak1"></div>
      <div class="vak vak2"></div>
      <div class="vak vak3"></div>
      <div class="vak vak4"></div>
    </td>
    <td>
      > 70%
    </td>
  </tr>
</table>
  
<h2>Conditiemeting algemeen</h2>

{% show_conditie_overzicht s.conditiemeting %}

<h2>Uitgelichte gebreken</h2>

{% show_conditie_uitgelicht s.conditiemeting %}


<h2>Begroting</h2>

{% show_begroting_overzicht s.conditiemeting %}


{% endblock %}